{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="mb-6 mx-6">
        <p class="text-3xl font-semibold">Hello, {{request.user}}.</p>
        {% if seller == True %}
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" data-dropdown-offset-distance="-230" data-dropdown-offset-skidding="100" data-dropdown-placement="right" class="mt-6 text-white  bg-gradient-to-r from-green-700 to-green-500 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-xl text-3xl px-10 py-3.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-green-800" type="button">Statistics <svg class="w-3 h-3.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
            </button>
            
            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 origin-top-right hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-70 dark:bg-gray-700 right-0" aria-labelledby="dropdownDefaultButton" tabindex="-1">                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                    <li>
                        <p class="text-xl mx-6 font-semibold">Percentage of listings sold: {{percentage_sold}}%</p>
                    </li>
                    <li>
                        <p class="text-xl mx-6 font-semibold">Total cashflow: ${{sold_total}} </p>
                    </li>
                    <li>
                        <p class="text-xl mx-6 font-semibold">Grams of food waste eliminated: {{sold_weight}}g </p>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="mt-6 mb-6 px-6 py-6 rounded-xl flex flex-wrap-reverse" style="background:#eee1cf;"> 
        <h2 class="mb-8 text-3xl font-semibold text-center self-justify-center order-3 ">My Listings</h2>
        <div class="grid gap-y-20 gap-x-0 grid-cols-4 h-auto w-full order-1">

            {% for item in items %}
            
                <div class="w-4/5 h-90 ">
                    <a href="{% url 'item:detail' item.id %}">
                        <button class='w-auto h-90 transition ease-out hover:-translate-y-1 hover:scale-110 '>
                
                        <div>
                            <img src="{{item.image.url}}" class='rounded-t-xl object-cover h-80 w-96'> 
                        </div>

                        <div class='p-6 rounded-b-xl' style="background:#fcf5eb;">
                            <h2 class='text-2xl'> {{item.name}}</h2>
                            <p class='text-gray-400'> Price: {{item.price}}</p>
                        </div>
                    </button>
                    </a>                    
                </div>
             
            {% endfor %}
        </div>    

       
    </div>

    <div class="mt-6 mb-6 px-6 py-6 rounded-xl flex flex-wrap-reverse" style="background:#eee1cf;"> 
        <h2 class="mb-8 text-3xl font-semibold text-center self-justify-center order-3 ">Sold Listings</h2>
        <div class="grid gap-y-20 gap-x-0 grid-cols-4 h-auto w-full order-1">

            {% for item in sold %}
            
                <div class="w-4/5 h-90 ">
                    <a href="{% url 'item:detail' item.id %}">
                        <button class='w-auto h-90 transition ease-out hover:-translate-y-1 hover:scale-110 '>
                
                        <div>
                            <img src="{{item.image.url}}" class='rounded-t-xl object-cover h-80 w-96'> 
                        </div>

                        <div class='p-6 rounded-b-xl' style="background:#fcf5eb;">
                            <h2 class='text-2xl'> {{item.name}}</h2>
                            <p class='text-gray-400'> Price: {{item.price}}</p>
                        </div>
                    </button>
                    </a>                    
                </div>
             
            {% endfor %}
        </div>    

       
    </div>

{% endblock %}