{% extends "core/base.html" %}

{% block title %}Chat{% endblock %} 

{% block content %}
<h1 class="mb-6 text-3xl">Chat</h1>

<div class="space-y-6">
    {% for message in chat.messages.all %}
        <div class="p-6 flex bg-green-300 rounded-xl" style="{% if message.created_by != request.user %}background:#eee1cf;{% endif %}"> 
            <div>
                <p class="mb-4"><strong>{{message.created_by.username}}</strong> | {{message.created_at}}</p>
                <p>{{ message.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<form method="POST" action="." class="mt-6">
    {% csrf_token %}

    {{form.as_p}}
    <button class="mt-6 py-4 px-8 text-lg bg-green-500 hover:bg-green-700 rounded-xl text-white">Send</button>
</form>
{% endblock %}