{% extends 'core/base.html' %}

{% block title %}Welcome {%endblock%}

{% block content %}
<!-- <h1 class="text-4xl  px-60 py-10 font-bold">About us</h1> --> 

<div class="w-auto h-auto  px-60 py-5 flex justify-between space-x-6 border-b border--200 rounded-xl" style="background:#eee1cf;">
    <div class="space-y-3 mt-6">
        <h2 class="text-[40px] font-bold ">Our Vision</h2>
        <p class="text-lg">At FeedForward, we envision a world where no one goes to bed hungry, and where surplus food is seen as an opportunity to make a positive impact in the lives of others. We are committed to creating a sustainable and efficient solution to food waste, one meal at a time. Our belief extends beyond merely providing nourishment; it's about fostering community, promoting dignity, and addressing the root causes of hunger. By transforming surplus food into a lifeline for those in need, we aim to build a future where compassion and collaboration pave the way for a hunger-free world. </p>
    </div>
    <img src="https://i.imgur.com/OBYvkmT.png" class="h-96 w-80 rounded-xl">
</div>

<div class="w-auto h-auto py-10 px-60 py-5 flex justify-between space-x-6 ">
    <img src="https://i.imgur.com/5MbQCz2.png" class="h-96 w-80 rounded-xl">
    <div class="space-y-3 mt-6">
        <h2 class="text-[40px] font-bold ">What we do</h2>
        <p class="text-lg">Our platform connects food donors, whether they are restaurants, grocery stores, or individuals, with local charities and community organizations. By leveraging technology, we streamline the process of food donation and distribution, ensuring that perfectly good food doesn't end up in landfills but instead reaches the plates of those who need it the most.</p>
    </div>
    
</div>

<div class="w-auto h-auto py-10 px-60 py-5 flex justify-between space-x-6 border-b border--200 rounded-xl" style="background:#eee1cf;">
    <div class="space-y-3 mt-6">
        <h2 class="text-[40px] font-bold ">Our Vision</h2>
        <p class="text-lg">At FeedForward, we envision a world where no one goes to bed hungry, and where surplus food is seen as an opportunity to make a positive impact in the lives of others. We are committed to creating a sustainable and efficient solution to food waste, one meal at a time. Our belief extends beyond merely providing nourishment; it's about fostering community, promoting dignity, and addressing the root causes of hunger. By transforming surplus food into a lifeline for those in need, we aim to build a future where compassion and collaboration pave the way for a hunger-free world. </p>
    </div>
    <img src="https://i.imgur.com/OBYvkmT.png" class="h-96 w-80 rounded-xl">
</div>

<div class="w-auto h-auto py-10 px-60 py-5 flex justify-between space-x-6 ">
    <img src="https://i.imgur.com/5MbQCz2.png" class="h-96 w-80 rounded-xl">
    <div class="space-y-3 mt-6">
        <h2 class="text-[40px] font-bold ">What we do</h2>
        <p class="text-lg">Our platform connects food donors, whether they are restaurants, grocery stores, or individuals, with local charities and community organizations. By leveraging technology, we streamline the process of food donation and distribution, ensuring that perfectly good food doesn't end up in landfills but instead reaches the plates of those who need it the most.</p>
    </div>
    
</div>
{% endblock %}