<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />

        <title>{% block title %}{%endblock%} | FeedForward</title>
    </head>
    
    <body style="background:#fcf5eb;">
        <nav class = "px-6 py-6 h-20  flex justify-between items-center border-b border-gray-200 mt-6 ml-6 mr-6 rounded-xl" style="background:#eee1cf;" >
            
                <a href="{%url 'core:index'%}">
                    <img src="https://i.imgur.com/ZPNDavg.png" class="h-20 hover:brightness-75 max-w-50">
                </a>
    

       

                <div class = "space-x-6">
                    <a href="{% url 'item:new' %}" class="text-lg font-semibold hover:text-gray-500"> New Item </a>
                    <a href="{% url 'item:browse' %}" class="text-lg font-semibold hover:text-gray-500"> Browse </a>

                    {% if request.user.is_authenticated %}
                        <a href="{% url "chat:inbox" %}">
                            <button class="px-6 py-2.5 transition ease-out shadow hover:shadow-lg  text-lg font-semibold bg-gradient-to-r from-green-500 text-white rounded-xl to-green-700 hover:-translate-y-1 hover:scale-110 hover:from-green-600 hover:to-green-800 duration-150 ">Inbox</button>
                        </a>
                        <a href="{% url 'dashboard:index' %}">
                            <button class="px-6 py-2.5 transition ease-out shadow hover:shadow-lg text-lg font-semibold bg-gradient-to-r from-gray-500 text-white rounded-xl to-gray-700 hover:-translate-y-1 hover:scale-110 hover:from-gray-600 hover:to-gray-800 duration-150">Dashboard</button>
                        </a>
                    {% else %}
                        <a href="{% url 'core:signup' %}">
                            <button class="px-6 py-2.5 transition ease-out shadow hover:shadow-lg  text-lg font-semibold bg-gradient-to-r from-green-500 text-white rounded-xl to-green-700 hover:-translate-y-1 hover:scale-110 hover:from-green-600 hover:to-green-800 duration-150 ">Sign Up</button>
                        </a>
                        <a href="{% url 'core:login' %}">
                            <button class="px-6 py-2.5 transition ease-out shadow hover:shadow-lg text-lg font-semibold bg-gradient-to-r from-gray-500 text-white rounded-xl to-gray-700 hover:-translate-y-1 hover:scale-110 hover:from-gray-600 hover:to-gray-800 duration-150">Log In</button>
                        </a>
                    {% endif %}
                </div>

    
            
        </nav>
            
        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="py-6 px-6 mb-6 ml-6 mr-6 flex justify-between bg-gray-800 rounded-xl" style="background:#eee1cf;">
            <div class="w-2/3 pr-10">
                <h3 class="mb-5 font-semibold text-green-700">About</h3>
                
                <p class="text-lg text-gray-500">About us section</p>
            </div>
            <div class="w-1/3">
                <h3 class="mb-5 font-semibold text-green-700">Menu</h3>
                
                <ul class="space-y-2">
                    <li><a href="{%url 'about'%}" class="text-lg text-green-500 hover:text-green-700">About</a></li>
                    <li><a href="{%url 'core:contact'%}" class="text-lg text-green-500 hover:text-green-700">Contact</a></li>
                    <li><a href="#" class="text-lg text-green-500 hover:text-green-700">Privacy policy</a></li>
                    <li><a href="#" class="text-lg text-green-500 hover:text-green-700">Terms of use</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{%url 'core:logout'%}" class="text-lg text-green-500 hover:text-green-700">Log Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    </body>
</html>